.inputBox{
    position: relative;
    width: 250px;
}
.inputBox input{
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 50px;
    padding: 20px 10px;
    border: 0px;
    background-color: #D9D9D9;
    color: #070707;
    outline: none;
    font-size: 1em;
    transition: .5s;

}
.inputBox span{
    position: absolute;
    left: 0;
    padding: 15px 10px;
    pointer-events: none;
    font-size: 1em;
    color: #000000;
    transition: .5s;
}
.inputBox input:focus ~ span, .inputBox input:valid ~ span{
    color: #000000;
    transform: translateX(10px) translateY(-7px);
    font-size: .65em;
    padding: 0 10px;
    background: #D9D9D9;
    border-left: 1px solid #070707;
    border-right: 1px solid #070707;
    letter-spacing: .3em;
}
.inputBox input:focus, .inputBox input:valid{
    border: 0px;
}
.visible{
    background-image: url(../../../static/images/show.png);
    background-size: auto 50px;
    position: absolute;
    padding: 25px;
    right: 0;
    top: 0;
    z-index: 3;
    cursor: pointer;
}