div(class="chat")
    div(class="chat__tools")
        div(class="tools__top")
            div(class="avatar")
            div(class="options")
                svg(width="50" height="15" viewBox="0 0 50 15" fill="none" xmlns="http://www.w3.org/2000/svg")
                    ellipse(cx="7.8125" cy="7.5" rx="7.8125" ry="7.5" fill="#242424")
                    ellipse(cx="42.1875" cy="7.5" rx="7.8125" ry="7.5" fill="#242424")
                    ellipse(cx="25" cy="7.5" rx="7.8125" ry="7.5" fill="#242424")
        div
            input(type="text" name="search" placeholder="Что-то хотите найти?")
    div(class="chat__container _container" data-simplebar)
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
        div(class="chat__item")
            div(class="avatar")
            div(class="chat__main")
                div(class="chat__top")
                    h2 Жендос
                    svg(width="33" height="20" viewBox="0 0 33 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(0.699328 -0.714801 0.699328 0.714801 13.3746 16.7773)" fill="#242424")
                        rect(width="23.4709" height="4.50819" rx="2.2541" transform="matrix(-0.699328 -0.714801 0.699328 -0.714801 16.4138 20)" fill="#242424")
                div(class="chat__content")
                    p Lorem ipsum is dolor...
