.chat {
	&__tools {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 20vh;

		border-bottom: 3px solid var(--bg-color-3);
		background-color: var(--bg-color-2);
	}

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		width: calc(100% - 65px);
	}

	&__container {
		height: 80vh;
		padding: 1px 4px 0;
		background-color: var(--bg-color-2);
	}

	&__item {
		display: flex;
		align-items: center;
		flex-direction: row;

		cursor: pointer;

		height: 75px;
		padding: 5px;
		border-radius: 10px;
		
		&:hover {
			background-color: var(--msg-color-1);
		}
	}

	&__avatar {
		display: flex;
		border-radius: 50%;
		background-color: var(--bg-color-3);
		height: 65px;
		width: 65px;
	}
}
