<div class="chat__item">
    {{{popup}}}
    <div class="chat__avatar"></div>
    <div class="chat__main">
        <div class="chat__top">
            <h2>{{title}}</h2>
        </div>
        <div class="chat__content">
            <p>{{message}}</p>
        </div>
    </div>
</div>
