.chat {
	&__tools {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: 20vh;

		border-bottom: 3px solid var(--bg-color-3);
		background-color: var(--bg-color-2);
	}

	&__top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__main {
		display: flex;
		flex-direction: column;
		justify-content: center;

		width: 80%;
		height: 100%;
		padding-right: 10px;
	}

	&__container {
		height: 80vh;

		background-color: var(--bg-color-2);
	}

	&__item {
		display: flex;
		align-items: center;
		flex-direction: row;

		height: 100px;

		background-color: var(--bg-color-2);
	}
}
