<div class="form">
    <h1 class="form__logo">{{title}}</h1>
    <form class="form__main">
        {{#each inputs}}
            {{{this}}}
        {{/each}}
        {{{button}}}
    </form>
    {{{link}}}
</div>
