<div class="chat">
    <div class="chat__tools">
        <div class="chat__top">
            <div class="avatar"></div>
            <div class="options">
                <svg width="50" height="15" viewBox="0 0 50 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="7.8125" cy="7.5" rx="7.8125" ry="7.5" fill="#242424"></ellipse>
                    <ellipse cx="42.1875" cy="7.5" rx="7.8125" ry="7.5" fill="#242424"></ellipse>
                    <ellipse cx="25" cy="7.5" rx="7.8125" ry="7.5" fill="#242424"></ellipse>
                </svg>
            </div>
        </div>
        <div>
            <input type="text" name="search" placeholder="Что-то хотите найти?">
        </div>
    </div>
    <div class="chat__container _container" data-simplebar>
        {{#each chats}}
            {{{this}}}
        {{/each}}
    </div>
</div>
<div class="message">
    <div class="message__container _container" data-simplebar>
        {{#each messages}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="message__tools">
        <input type="text" name="message" placeholder="Введите сообщение">
    </div>
</div>
