<nav>
    <ul>
        <li><a href="/signin">Вход</a></li>
        <li><a href="/signup">Регистрация</a></li>
        <li><a href="/profile">Профиль и настройки</a></li>
        <li><a href="/chat">Чат</a></li>
        <li><a href="/error">Ошибка</a></li>
    </ul>
</nav>
