doctype html
html(lang="ru")
    head
        - var title = 'Профиль'
        include ../../components/head/head.pug
        link(rel="stylesheet", href="../../components/button/button.scss")
        link(rel="stylesheet", href="../../components/input/input.scss")
        link(rel="stylesheet", href="../../components/form/form.scss")
        link(rel="stylesheet", href="./edit.scss")
        link(rel="stylesheet", href="../../index.scss")
        script(src='../../utils/visible.js' defer='')
    body 
        main
            div(class="form")
                h1(class="form__logo") Редактирование
                form(action="#" class="form__main")
                    - var _type = 'text'
                    - var _name = 'first_name'
                    - var placeholder = 'Изменить имя'
                    - var visible = false
                    include ../../components/input/input.pug
                    - var _type = 'text'
                    - var _name = 'second_name'
                    - var placeholder = 'Изменить фамилию'
                    - var visible = false
                    include ../../components/input/input.pug
                    - var _type = 'text'
                    - var _name = 'display_name'
                    - var placeholder = 'Изменить псевдоним'
                    - var visible = false
                    include ../../components/input/input.pug
                    - var _type = 'text'
                    - var _name = 'login'
                    - var placeholder = 'Изменить логин'
                    - var visible = false
                    include ../../components/input/input.pug
                    - var _type = 'email'
                    - var _name = 'email'
                    - var placeholder = 'Изменить почту'
                    - var visible = false
                    include ../../components/input/input.pug
                    - var _type = 'tel'
                    - var _name = 'phone'
                    - var placeholder = 'Изменить номер'
                    - var visible = false
                    include ../../components/input/input.pug
                    - var content = 'Сохранить'
                    include ../../components/button/button.pug
