<div class="settings__wrapper">
    <div class="layout">
        <div class="layout__sidebar">
            <ul>
                {{#each blocks}}
                    {{{this}}}
                {{/each}}
            </ul>
        </div>
        <div class="layout__contents">
            <main id="page_root"></main>
        </div>
    </div>
</div>
