<div class="{{#if isVisible}}modal__wrappper{{else}}modal__wrappper closed{{/if}}">
    <div class="modal__content">
        <div class="modal__close">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 39 39" fill="none">
                <rect y="34.6484" width="49" height="3" transform="rotate(-45 0 34.6484)" fill="#242424"/>
                <rect x="4.12738" y="0.591797" width="49" height="3" transform="rotate(45 4.12738 0.591797)" fill="#242424"/>
            </svg>
        </div>
        {{{content}}}
    </div>
</div>
