:root {
	--bg-color-1: #f5f5f5;
	--bg-color-2: #d9d9d9;
	--bg-color-3: #242424;
	--msg-color-1: #858585;
	--msg-color-2: #199fc9;
	--link-color-1: #03a0d0;
	--link-color-2: #f00;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

html {
	font-family: Montserrat, sans-serif;
}

input::placeholder{
	font-family: Montserrat, sans-serif;
}

input{
	font-family: Montserrat, sans-serif;
}

button {
	font-family: Montserrat, sans-serif;
}
