div(class="message")
    div(class="message__container _container" data-simplebar)
        div(class="message__item" data-author="tail-in")
            div(class="message__wrapper")
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores blanditiis delectus dignissimos esse hic, ipsam, laudantium magnam nemo nisi nobis obcaecati officia perspiciatis quas quasi reprehenderit totam voluptatem!
                svg(width="15" height="10" viewBox="0 0 15 10" xmlns="http://www.w3.org/2000/svg")
                    path(d="M15 0V10H0L15 0Z")

        div(class="message__item" data-author="tail-out")
            div(class="message__wrapper")
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores blanditiis delectus dignissimos esse hic, ipsam, laudantium magnam nemo nisi nobis obcaecati officia perspiciatis quas quasi reprehenderit totam voluptatem!
                svg(width="15" height="10" viewBox="0 0 15 10" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 0V10H15L0 0Z")
        div(class="message__item" data-author="tail-in")
            div(class="message__wrapper")
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores blanditiis delectus dignissimos esse hic, ipsam, laudantium magnam nemo nisi nobis obcaecati officia perspiciatis quas quasi reprehenderit totam voluptatem!
                svg(width="15" height="10" viewBox="0 0 15 10" xmlns="http://www.w3.org/2000/svg")
                    path(d="M15 0V10H0L15 0Z")

        div(class="message__item" data-author="tail-out")
            div(class="message__wrapper")
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores blanditiis delectus dignissimos esse hic, ipsam, laudantium magnam nemo nisi nobis obcaecati officia perspiciatis quas quasi reprehenderit totam voluptatem!
                svg(width="15" height="10" viewBox="0 0 15 10" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 0V10H15L0 0Z")
        div(class="message__item" data-author="tail-in")
            div(class="message__wrapper")
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores blanditiis delectus dignissimos esse hic, ipsam, laudantium magnam nemo nisi nobis obcaecati officia perspiciatis quas quasi reprehenderit totam voluptatem!
                svg(width="15" height="10" viewBox="0 0 15 10" xmlns="http://www.w3.org/2000/svg")
                    path(d="M15 0V10H0L15 0Z")

        div(class="message__item" data-author="tail-out")
            div(class="message__wrapper")
                span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam asperiores blanditiis delectus dignissimos esse hic, ipsam, laudantium magnam nemo nisi nobis obcaecati officia perspiciatis quas quasi reprehenderit totam voluptatem!
                svg(width="15" height="10" viewBox="0 0 15 10" xmlns="http://www.w3.org/2000/svg")
                    path(d="M0 0V10H15L0 0Z")
    div(class="message__tools")
        input(type="text" name="messageInput" placeholder="Введите сообщение")
