<main>
    <div class="error_wrapper">
        <div>
            <h1 class="error_code">{{code}}</h1>
            <p class="error_description">{{description}}</p>
        </div>
        {{{link}}}
    </div>
</main>
