doctype html
html(lang="ru")
    head
        - var title = 'Упс...'
        include ../../components/head/head.pug
        link(rel="stylesheet", href="./error.scss")
    body
        div(class="wrapper")
            div
                h1(class="error__code") 500
                p(class="error__description") Скоро починим
            a(href="#" class="backup") Вернуться назад
