<div class="wrapper">
    <div>
        <h1 class="error_code">{{code}}</h1>
        <p class="error_description">{{description}}</p>
    </div>
    <a href="" class="backup">Вернуться назад</a>
</div>
